@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
}

button:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    margin: 0;
    padding: 0;
}

.top-con {
    background-color: black;
    height: 64px;
    min-width: 1200px;
}

.top-info {
    width: 1200px;
    margin: auto;
    height: 64px;
    display: flex;
    justify-content: space-between;
}

.my-font {
    font-family: 'Poppins', sans-serif;
}

.mob-con {
    padding-left: 15px;
    display: flex;
    height: 64px;
    align-items: center;
}

.mob-con .icon {
    color: #d7d7d7;
    font-size: 23px;
}

.mob-con .content {
    padding-left: 15px;
    padding-right: 15px;
    border-right: solid 1px #ffffff3d;
    min-height: 36px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.phone-text {

    font-size: 12px;

    font-weight: 500;

    color: #d7d7d7;
}
.phone-head
{
    font-size: 12px;
    color: #ffb643;
    text-align: center;
    width: 100%;
    font-weight: 600;
}

.mail-con {
    padding-left: 15px;
    display: flex;
    height: 64px;
    align-items: center;
}

.mail-con .icon {
    color: #d7d7d7;
    font-size: 24px;
}

.mail-con .content {
    padding-left: 7px;
    padding-right: 15px;
    border-right: solid 1px #ffffff3d;
    min-height: 36px;
    display: flex;
    align-items: center;
}

.mail-text {}

.top-col1 {

    display: flex;
}

.top-col2 {

    display: flex;

    align-items: center;

    padding-right: 15px;
}

.service-bttn {background: #193893;color: white;font-size: 14px;font-weight: 500;padding-top: 9px;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;border-radius: 10px;cursor: pointer;}

.splash-con {
    background-color: #193893;
    background: radial-gradient(circle, rgba(45, 119, 201, 1) 0%, rgba(25, 56, 147, 1) 59%, rgba(25, 56, 147, 1) 100%);
    background-position-x: 298px;
    min-width: 1200px;
}

.splash-data {
    width: 1200px;
    height: 500px;
    margin: auto;
    display: flex;
}

.logo {

    padding-left: 40px;

    padding-top: 33px;
}

.logoimg {

    width: 143px;
}

.splash-col1 {
    width: 50%;
}

.caption {
    padding-left: 40px;
    padding-top: 58px;
}

.caption-1 {
    text-align: -webkit-center;
    color: white;
}

.caption-1 h1 {

    font-size: 34px;

    letter-spacing: 3px;
    
}

.caption-2 {}

.splash-col2 {
    width: 50%;
}

.wb-image {
    animation: swing ease-in-out 8s infinite alternate;
    width: 640px;
}

@keyframes swing {
    0% {
        transform: rotate(3deg);
        transform: translateX(22px);
    }

    100% {
        transform: rotate(-3deg);
        transform: translateX(165px);
    }
}

.call-con
{
    background-color: black;
    min-width: 1200px;
}
.call-view
{
    width: 1200px;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 92px;
}
.xl-h1
{

text-align: center;

color: #ffffff;

font-size: 34px;

font-weight: 600;
}
.sm-h1
{

text-align: center;

color: #d7d7d7;

font-size: 17px;

font-weight: 300;

padding-top: 62px;
}
.myinput
{
    background-color: #2F2F2F;
    border: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    color: white;
}
.myinput:focus
{
   outline: none;
}
.email-box
{
    width: 500px;
    margin: auto;
    padding-top: 11px;
}
.submit-bttn {

background: #193893;

color: white;

font-size: 14px;

font-weight: 500;

padding-top: 15px;

padding-bottom: 15px;

padding-left: 15px;

padding-right: 15px;

border-radius: 10px;

width: 100%;
}
.email-submit
{
    
text-align: center;
    
padding-top: 10px;
    
width: 500px;
    
margin: auto;
}
.appr-con
{

background-color: #193893;

background-position-x: 298px;

min-width: 1200px;

/* height: 199px; */
}
.appr-view
{
    width: 1200px;
    margin: auto;
    padding-top: 58px;
    /* padding-bottom: 3px; */
}

.appr-items {display: flex;padding-top: 15px;gap: 23px;overflow: hidden;}
.appr-item {width: 100px!important;height: 100px!important;overflow: hidden;display: flex;background: whitesmoke;border-radius: 15px;/* border: solid 1px #72727200; */flex-shrink: 0;box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;}
.appr-item img{width: 100px;height: 100px;}
.wave-v1
{
    background: black;
    height: 266px;
    overflow: hidden;
    width: 100%;
}
.cli-con
{background: #193893;/* padding-top: 25px; *//* padding-bottom: 60px; */}
.cli-view
{
    
width: 1200px;
    
margin: auto;
}
.client-items
{display: flex;gap: 23px;padding-top: 15px;overflow: hidden;}
.client-item {width: 100px!important;height: 100px!important;overflow: hidden;display: flex;background: white;border-radius: 25px;flex-shrink: 0;box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;}
.client-item img{width: 100px;height: 100px;}
.faq-con
{padding-bottom: 40px;position: relative;background-color: #EEEEEE;}
.faq-view
{

width: 1200px;

margin: auto;

display: flex;

padding-top: 50px;
}
.faq-col1
{width: 45%;min-height: 400px;/* display: flex; */justify-content: flex-end;align-items: center;border-right: solid 5px #193893;padding-left: 80px;padding-right: 40px;}
.faq-heead
{font-size: 33px;font-weight: 500;color: #193893;padding-right: 39px;}
.faq-col2
{width: 40%;padding-left: 40px;/* padding-top: 51px; */}
.faq-item
{margin-bottom: 10px;border: solid 1px #d7d7d700;padding: 30px;background: #ffffff;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;transition: all ease .2s;}
.faq-item.collapsed
{
    margin-bottom: 10px;
    box-shadow: none;
    background: #eeeeee;
    border: solid 1px #dfdada;
}

.faq-item-head
{

display: flex;

justify-content: space-between;

align-items: center;
}
.faq-item-body
{
    font-size: 14px;
    font-weight: 400;
    color: #5a5a5a;
    padding-right: 40px;
    text-align: justify;
    padding-left: 15px;
}
.faq-head-bttn::after
{
    content: '-';
}

.faq-head-bttn.collapsed::after{
    content: "+";
}
.faq-head-bttn
{border: 0;background: transparent;color: #4c4c4c;font-weight: 300;font-size: 24px;cursor: pointer;content: "-";}

.faq-head-text
{font-size: 16px;font-weight: 500;color: #000000;}

.faq-head-text-v1
{font-size: 15px;font-weight: 700;color: #000000;}
.leftimage
{
    
position: absolute;
    
width: 500px;
    
top: -208px;
    
left: -10px;
}
.rightimage
{
    
position: absolute;
    
width: 146px;
    
top: -208px;
    
right: 0px;
}
.more-faq
{
    font-size: 14px;
    color: #000034;
    font-weight: 600;
    text-align: center;
}
.footer-con
{

background: #193893;

height: auto;

padding-bottom: 25px;
}
.footer-view
{
    width: 1200px;
    margin: auto;
    display: flex;
    padding-top: 64px;
    padding-left: 15px;
    padding-right: 80px;
    justify-content: space-between;
}
.foot-left-view
{
    display: flex;
    gap: 121px;
    flex-shrink: 0;
}
.foot-head-text {font-size: 18px;color: white;font-weight: 600;padding-bottom: 15px;}
.foot-head-text-sm {font-size: 14px;font-weight: 700;color: white;padding-bottom: 5px;}
.foot-head-text-sm1 {font-size: 14px;color: white;padding-bottom: 5px;}

.foot-logo {width: 184px;margin-right: 201px;}
.foot-logoimg {
}
.soc-items
{
    
display: flex;
    
gap: 16px;
    
padding-top: 29px;
}
.soc-item {
    font-size: 30px;
    color: white;
}
.desc-con
{
  background-color: #ffffff;
}
.desc-view
{
    width: 1200px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
}
.desc-col1
{width: 50%;}
.desc-col2
{
    width: 50%;
    padding-left: 76px;
    display: flex;
    padding-top: 31px;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}
.desc-h1
{

}
h1{
    font-size: inherit;
    margin: 0;
    font-weight: inherit;
}
.desc-h1
{font-size: 38px;font-weight: 600;margin-bottom: 12px;}
.desc-text {text-indent: 25px;font-size: 14px;text-align: justify;line-height: 2;font-weight: 200;overflow: hidden;height: 466px;transition: width 2s, height 4s;}
.desc-image
{/* width: 512px!important; */height: 578px !important;position: relative;border: solid 10px #efefef;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
.desc-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.desc-image2
{
    position: absolute;
    top: -77px;
    left: -100px;
    border: solid 10px white;
}
.readmore
{
    font-size: 14px;
    font-weight: 600;
}
.animatedown
{
    animation: animateheight 5s infinite;
}
@keyframes animateheight {
    from {height: 466px;}
    to {height: 600px;}
  }

  .mobilize-window
  {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000c7;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 999;
  }
  .mobilize-view
  {
    width: 500px;
    background: #091a42;
    border-radius: 15px;
    padding-bottom: 35px;
    border: solid 1px #6275974a;
    position: relative;
    overflow: hidden;
  }
  .mobilize-h1
  {
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 40px;
    font-weight: 500;
  }
  .mobilize-h2
  {
    text-align: center;
    color: #9d9d9d;
    font-size: 12px;
  }
  .my-form-group {position: relative;margin-bottom: 10px;}
.my-form-input {
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px #6275975e;
    width: 100%;
    height: 53px;
    padding-top: 24px;
    padding-left: 15px;
    padding-right: 15px;
    background: #0C162D;
    transition: ease .2s;
    color: white;
}
.my-form-input:focus
{
    outline: none;
}
.my-label
{
    position: absolute;
    top: 17px;
    left: 15px;
    font-size: 14px;
    color: #627597;
    transition: all ease .3s;
}
.my-form-mobilize
{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 24px;
}
.ag-input:placeholder-shown {}

.my-form-input:not(:placeholder-shown)+.my-label,
.my-form-input:focus+.my-label {
    font-size: 12px;
    top: 4px;
    color: #ababab;
}

.my-bttn-group
{padding-top: 5px;}
.my-bttn
{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background: #af840d;
    border: none;
    color: white;
    font-weight: 500;
    transition: all ease .3s;
    cursor: pointer;
}
.my-bttn:hover
{
    background: #d1a326;
}
.pop-close {position: absolute;top: 12px;right: 11px;font-size: 24px;cursor: pointer;display: flex;height: 24px;transition: ease .2s;color: white;}

.pop-close:hover {
    background: #302f2f80;
    border-radius: 5px;
}
.mobilize-content
{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.service-con {background-color: #1e1e1e;height: 52px;min-width: 1200px;border-top: solid 1px #ffffff0d;border-bottom: solid 1px #ffffff4a;}
.service-view {
        width: 1200px;
        margin: auto;
        display: flex;
        gap: 20px;
        justify-content: center;
        height: 52px;
        align-items: center;
        position: relative;
}
.service-item {width: auto;display: flex;gap: 10px;cursor: pointer;align-items: center;height: 52px;flex-shrink: 0;}
.service-text {color: white;font-size: 12px;}
.service-icon
{
    color: white;
    font-size: 10px;
}
.service-item:hover .service-text,.service-icon 
{
    transition: all ease .3s;
    color: #ffb643;
}
.service-more
{
    position: absolute;
    top: 51px;
    left: 0;
    width: 1200px;
    background: white;
    padding: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 99;
    font-size: 14px;
    color: #545454;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: none;
    overflow: hidden;
}
.service-more-head
{
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 5px;
}
.service-more-text {
}
.service-item:hover .service-more
{
    display: block;
    transition: all ease .3s;
    animation: serviceslide 1s forwards;
}
@keyframes serviceslide {
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

.proof-con {/* background-color: black; */min-width: 1200px;padding-top: 53px;padding-bottom: 72px;}
.proof-view {width: 600px;margin: auto;padding-top: 49px;padding-bottom: 24px;background: #091a42;border-radius: 15px;border: solid 1px #6275974a;position: relative;overflow: hidden;box-shadow: rgb(0 0 0 / 22%) 0px 50px 100px -20px, rgb(0 0 0) 0px 30px 60px -30px;}
.proof-h1 {font-size: 19px;color: white;text-align: center;font-weight: 500;}
.proof-h2 {text-align: center;color: #d7d7d7;padding-top: 10px;}
.proof-box {width: 400px;margin: auto;padding-top: 10px;}
.proof-result
{
    color: #ffbb00;
    font-size: 21px;
    text-align: center;
    padding-top: 30px;
    font-weight: 500;
}
.appr-loc-con
{background-color: #193893;background-position-x: 298px;min-width: 1200px;/* height: 199px; */padding-bottom: 60px;}
.appr-loc-view
{
    width: 1200px;
    margin: auto;
    /* padding-top: 58px; */
    /* padding-bottom: 25px; */
}

.appr-loc-items {display: flex;padding-top: 15px!important;gap: 23px;overflow: hidden;}
.appr-loc-item {width: 100px!important;height: 100px!important;overflow: hidden;display: flex;background: whitesmoke;border-radius: 15px;/* border: solid 1px #72727200; */flex-shrink: 0;box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;}
.appr-loc-item img{width: 100px;height: 100px;}
.appr-loc-pagination
{
    position: relative;
    width: 100%;
    height: 32px;
    margin-top: 10px;
    text-align: center;
}
.cli-pagination
{
    position: relative;
    width: 100%;
    height: 32px;
    margin-top: 10px;
    text-align: center;
}
.appr-pagination
{
    position: relative;
    width: 100%;
    height: 32px;
    margin-top: 10px;
    text-align: center;
}

.footer-contacts {padding-top: 25px!important;display: flex;overflow: hidden;}
.contact-item {width: 100%;flex-shrink: 0;}
.contact-head {font-size: 18px;font-weight: 700;color: white;padding-bottom: 5px;}
.contact-text {color: white;font-size: 16px;}
.foot-right-view
{
    flex-shrink: 0;
    width: 300px;
}
.letconnect
{
    font-size: 16px;
    color: white;
    position: fixed;
    width: 150px;
    height: 60px;
    background: linear-gradient(64deg, #204fa6, black);
    bottom: 58px;
    right: 39px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px white;
    cursor: pointer;
}
.letconnect:hover
{
    background: #3a3a3a;
    transition: all ease .5s;
}
.letconnect-more
{
    position: fixed;
    bottom: 38px;
    right: 52px;
}
.let-whats
{
    background: #1dc51d;
    border-radius: 50%;
    padding: 15px;
    color: white;
    width: 64px;
    height: 64px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
    border: solid 3px white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.let-whats:hover,.let-mail:hover
{
    background: rgb(71, 71, 71);
    color: white;
}
.let-mail
{
    background: #193892;
    border-radius: 50%;
    padding: 15px;
    color: white;
    width: 64px;
    height: 64px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
    border: solid 3px white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.desc-images-list
{
    display: flex;
    gap: 23px;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after
{
    font-size: 20px!important;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after
{
    font-size: 20px!important;
}